
04-版本升级/code/AT_CoreDataDemo1/AT_CoreDataDemo1.xcodeproj/project.xcworkspace/xcuserdata/zhangtianbao.xcuserdatad/UserInterfaceState.xcuserstate
02-增删改查/code/AT_CoreDataDemo1/AT_CoreDataDemo1.xcodeproj/project.xcworkspace/xcuserdata/zhangtianbao.xcuserdatad/UserInterfaceState.xcuserstate
04-版本升级/code/AT_CoreDataDemo1/AT_CoreDataDemo1.xcodeproj/project.xcworkspace/xcuserdata/zhangtianbao.xcuserdatad/UserInterfaceState.xcuserstate
